window#waybar {
  background: transparent;
  color: #f0f0f0;
}

#workspaces,
#window,
#network,
#bluetooth,
#pulseaudio,
#battery,
#clock,
#tray {
  background: rgba(27, 27, 47, 0.94);
  color: #f0f0f0;
}

#workspaces button.active {
  background: #00ffea;
  color: #1b1b2f;
}
